@font-face {
	font-family: "Noto Sans KR Thin";
	src: url('NotoSansKR-100.otf') format('opentype');
}

@font-face {
	font-family: "Noto Sans KR Bold";
	src: url('NotoSansKR-900.otf') format('opentype');
}

html {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR Thin';
}

body {
	padding: 20px;
	margin: 0px;
	background-color: #F5F1F2;
}

.logo {
	display: flex;
	height: 30vh;
}

.logo p {
	font-size: 30px;
	font-weight: 700;
	margin: 0px;
	color: #6B4951;
	padding-left: 15px;
}

.swiper {
	margin: 0;
	display: flex;
}

.swiper li {
	list-style-type: none;
	font-family: 'Noto Sans KR Bold';
	height: 55vh;
}

#font-O {
	transition: .5s;
}

#font-O:hover {
	-webkit-transform: scale(1.6, 1.6);
	transform: scale(1.6, 1.6);
	opacity: 0.5;
	padding-left: 100px;
	padding-right: 100px;
}

.swiper .hidden-content {
	font-size: 3vh;
	color: #6B4951;
	position: absolute;
	bottom: 0%;
	padding-left: 70px;
}

.swiper .hidden-content h3 {
	font-size: 7vh;
	margin: 0;
}

.swiper .hidden-content p {
	margin: 0;
}
