@font-face {
	font-family: "Noto Sans KR Thin";
	src: url('font/NotoSansKR-100.otf') format('opentype');
}

@font-face {
	font-family: "Noto Sans KR Bold";
	src: url('font/NotoSansKR-900.otf') format('opentype');
}

html {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR Thin';
}

body {
	padding: 20px;
	margin: 0px;
	background-color: #F5F1F2;
	cursor: url(image/cursor.png), auto;
}

a {
	cursor: url(image/link.png), auto;
}

.logo {
	display: flex;
	height: 30vh;
}

.logo p {
	font-size: 30px;
	font-weight: 700;
	margin: 0px;
	color: #6B4951;
	padding-left: 15px;
}

.swiper {
	margin: 0;
	display: flex;
}

.swiper li {
	list-style-type: none;
	font-family: 'Noto Sans KR Bold';
	height: 55vh;
}

img {
	transition: .5s;
}

.box {
	display: flex;
}

.special:nth-of-type(n + 2), .end {
	position: absolute;
}

.clocking {
	display: none;
}

.special:hover img {
	-webkit-transform: scale(1.6, 1.6);
	transform: scale(1.6, 1.6);
	opacity: 0.5;
	padding-left: 100px;
	padding-right: 100px;
}

.special:hover .hidden {
	opacity: 100%;
}

.hidden {
	font-size: 3vh;
	color: #6B4951;
	position: absolute;
	bottom: 0%;
	padding-left: 70px;
	opacity: 0%;
	transition: .5s;
}

.hidden > h3 {
	font-size: 7vh;
	margin: 0;
}

.hidden > p {
	font-size: 3vh;
	margin: 0;
	white-space: nowrap;
}
